// Place all the styles related to the Noticia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.noticia {
  background-color: #D3DEE7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.bg-danger {
  border-radius: 5px;
  padding: 5px;
}
