// Place all the styles related to the Noticia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.noticia {
  background-color: #D3DEE7;
  border-radius: 5px;
  margin: 10px;
}
